#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#customers td,
th {
  border: 1px solid #b1b1b1;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #108b47;
  color: white;
  text-align: center;
}

h1,
h5 {
  text-align: center;
}

button {
  padding: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #1f9103;
  color: rgb(241, 241, 241);
  box-shadow: 2px 2px #424141;
  position: fixed;
}
.total_sale {
  text-align: right;
}

.hidden-print {
  /* text-align: center; */
  float: right;
  margin-left: 90%;
  margin-top: 500px;
  overflow: visible;
  position: fixed;
}

/* print btn */
.gg-printer {
  background: linear-gradient(to left, currentColor 5px, transparent 0)
      no-repeat 0 10px/6px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat 14px
      10px/6px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat 4px 4px/2px
      2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 14px;
  border: 2px solid transparent;
  border-bottom: 0;
  box-shadow: inset 0 2px 0, inset 2px 2px 0, inset -2px 2px 0, inset -2px 2px 0;
}

.gg-printer::after,
.gg-printer::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  border: 2px solid;
  left: 4px;
}

.gg-printer::before {
  height: 6px;
  top: -4px;
}

.gg-printer::after {
  height: 8px;
  top: 8px;
}

/* print */
.date {
  display: none;
  font-weight: bold;
  margin-bottom: 10px;
}
@media print {
  @page {
    margin: 3mm;
  }

  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
  .date {
    display: block !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    margin-left: 50px;
    margin-right: 55px;
  }

  #customers {
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    overflow: auto;
    page-break-after: avoid;
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}
